@import '../../style/themes/default';

$btn-prefix-cls: '#{$om-prefix}-btn';

.#{$btn-prefix-cls} {
  color: red;
}

.om-btn {
  line-height: 1;

  &--primary {
    color: blue;
  }

  &--warning {
    color: yellow;
  }

  &--danger {
    color: red;
  }
}
